<div class="panel panel-info">
  <div class="panel-heading">
    <h3>{{ 'STOPS' | translate }}</h3>
  </div>
  <div class="panel-body" ng-show="vm.loading">
    <loader loading="vm.loading" />
  </div>
  <div class="panel-body" ng-hide="vm.loading">
    <div class="form-horizontal">
      <div class="form-group">
        <label for="search-name" class="col-sm-2 control-label">{{ 'STOP_NAME' | translate }}</label>
        <div class="col-sm-10">
          <input type="text" id="search-name" class="form-control" placeholder="{{ 'SEARCH_STOP' | translate }}" ng-model="vm.search">
        </div>
      </div>
    </div>
    <ul class="nav nav-pills nav-stacked">
      <li ng-repeat="stop in vm.stops | filter:vm.search">
        <a ui-sref="stop({stop:stop.id})">
          <stop-name stop="stop"></stop-name>
          <span class="pull-right">
            {{stop.lines}}
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
