.stop-departures {
  @media screen and (max-width: 500px) {
    .header {
      display: none;
    }
    tr {
      margin-bottom: 10px;
      display: block;
      border-bottom: 2px solid #ddd;
      cursor: pointer;
    }
    td {
      display: block;
      text-align: right;
      border-bottom: 1px dotted #ccc;
    }
    td:last-child {
      border-bottom: 0;
    }
    td:before {
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}